* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'Geomanist';
    src: url('./fonts/geomanist-bold.woff') format('woff');
    font-style: normal;
    font-weight: var(--font-weight-semibold);
}

@font-face {
    font-family: 'Merriweather';
    src: url('./fonts/Merriweather_24pt-Regular.ttf') format('TrueType');
    font-style: normal;
    font-weight: var(--font-weight-light);
}

@layer styleguide {
    :root{
    /* Variabelen Kleuren */
        --color-primary: #0D3951;
        --color-secondary: #EBDAC4;
        --color-tertiary:#3F2C4B;
        --color-highlight: #8BCBBD;
        --color-text-primary: #FFFFFF;
        --color-text-secondary: #000000;
        --color-error: #DB3A1B;
        
    /* Variabelen Typografie */
        --font-family-heading: 'Geomanist', 'Helvetica Neue', 'Helvetica', sans-serif;
        --font-family-p: 'Merriweather', 'Times', 'Times New Roman', Serif;
        --font-family-p-detailpage: 'Geomanist', ...;
            
        --font-size-h1: 4.5rem;
        --font-size-h2: 1.5rem;
        --font-size-h3: 1rem;
        --font-size-p-s: 1rem;
        --font-size-p-m: 1.3rem;
        --font-size-p-l: 1.5rem;
        --font-size-p-xl: 2rem;
            
        --font-weight-light: 400;
        --font-weight-normal: 500;
        --font-weight-semibold: 600;
        --font-weight-bold: 900;

    /* Variabelen button */
        --btn-padding: 0 .8rem;
    }

    /*---- kleuren ----*/
    .color1{
        background-color: var(--color-primary);
        color: var(--color-text-primary);
    }
    .color2{
        background-color: var(--color-secondary);
    }
    .color3{
        background-color: var(--color-tertiary);
        color: var(--color-text-primary);
    }
    .highlight{
        background-color: var(--color-highlight);
    }
    .text-color-1{
        background-color: var(--color-text-primary);
        border: 1px solid var(--color-text-secondary);
    }
    .text-color-2{
        background-color: var(--color-text-secondary); 
        color: var(--color-text-primary);
    }
.color-error{
    background-color: var(--color-error);
}
    /*Heading elements*/
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-family-heading);
        color: var(--color-primary);
        font-weight: var(--font-weight-semibold);
        
        margin:0 0 .6em;
    }

    h1 {
        font-size: var(--font-size-h1);
        line-height: 1;
    }
    h2 {
        font-size: var(--font-size-h2);
        line-height: 1.4;
    }


    /*Paragraph elements*/
    p {
        font-family: var(--font-family-p);
        font-weight: var(--font-weight-light);
        font-size: var(--font-size-p-s);
        color: var(--color-text-secondary);
        font-style: normal;
        letter-spacing: .03rem;
    }

    /*List elements*/
    ul {
        font-family: var(--font-family-p);
        font-style: normal;
        font-weight: var(--font-weight-light);
    }
    ol{
        font-family: var(--font-family-p);
        font-style: normal;
        font-weight: var(--font-weight-light);
        line-height: 1.6;
    }

     /*---- Formulier styling Khouloud :) ♡----*/
    /*algemene form styling en text styling in form*/

    form{
        background-color: var(--color-text-primary);
        border: 2px solid var(--color-primary);
        padding: 1rem;
        color: var(--color-primary);
        font-family: var(--font-family-p-detailpage);
        label.text-label{
            font-weight: var(--font-weight-bold);
            color: var(--color-primary);
        }
        legend.form-legend{
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-p-m);
        }
    }

    /*Text form*/
    input[type="text"]{
        border-radius: 1px;
        color: var(--color-primary);
        background-color: var(--color-text-primary);
        border: 2px solid var(--color-primary);
        display: inline-block;
        margin: 0 0 24px;
        min-height: 36px;
        min-width: 50px;
        padding: 0 0.4em;
        vertical-align: middle;
        width: 100%;
        box-sizing: border-box;
        &:hover{
            border-color: var(--color-secondary);
            cursor: pointer;
        }
    }

    /*checkbox form*/
    fieldset{
        border: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        label.checkbox-label{
            padding: 0.2rem;
            font-size: var(--font-size-p-m);
            &:hover{
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
    
    /*---- Knoppen styling ----*/

    .btn{
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-p-s);
        text-decoration: none;
        line-height: 1rem;
        cursor: pointer;
        padding: var(--btn-padding);
        height: 48px;
        text-align: left;
        vertical-align: middle;
        transition: .5s ease-in-out;  
    }

    .btn-primary{
        background-color: var(--color-primary);
        border: 2px solid var(--color-primary);
        color: var(--color-text-primary);

        &:hover{
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            color: var(--color-primary);
            text-shadow: none;
        }
    }

    .btn-secondary{
        background-color: var(--color-tertiary);
        border: 2px solid var(--color-tertiary); 
        color: var(--color-text-primary);
        &:hover{
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            color: var(--color-tertiary);
        }
    }

    .btn-tertiary{
        background-color: var(--color-highlight);
        color: var(--color-text-secondary);
        border: 2px solid var(--color-highlight);
        text-shadow: none;
        &:hover{
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            color: var(--color-text-secondary);
            text-shadow: none;
        }
    }

    .btn-option-1{
        background-color: var(--color-secondary);
        color: var(--color-primary);
        &:hover{
            background-color: var(--color-primary);
            border: 2px solid var(--color-primary);
            color: var(--color-text-primary);
        }
    }
    .btn-option-2{
        background-color: var(--color-highlight);
        border:2px solid var(--color-text-secondary);
        &:hover{
            background-color: var(--color-secondary);
        }
    }

    .btn-option-3{
        background-color: var(--color-secondary);
        border-color: var(--color-tertiary);
        color: var(--color-tertiary);
        &:hover{
            background-color: var(--color-tertiary); 
            border: 2px solid var(--color-tertiary); 
            color: var(--color-text-primary);
        }
    }

    .btn-option-4{
        background-color: var(--color-primary);
        border: 2px solid var(--color-primary);
        color: var(--color-text-primary);
        &:hover{
            background-color: var(--color-secondary);
            color: var(--color-primary);
        }
    }

    .btn-option-5{
        background-color: var(--color-tertiary);
        border: 2px solid var(--color-tertiary);
        color: var(--color-text-primary);
        &:hover{
            background-color: var(--color-secondary);
            border-color: var(--color-tertiary);
            color: var(--color-tertiary);
        }
    }
    
    .btn-icon{
        border: 5px solid var(--color-text-primary);
        border-radius: 50%;
        color: var(--color-text-secondary);
        background-color: var(--color-text-primary);
        aspect-ratio: 1/1;
        
        svg{
            height: 30px;
            display: flex;
            justify-content: center;
            vertical-align: center;
        }

        &:hover{
            background-color: var(--color-secondary);
            border-color: var(--color-secondary);
            cursor: pointer;
        }
    }

    .text-link{
        text-decoration: underline;
        text-decoration-color: var(--color-tertiary);
        color: var(--color-tertiary);
        font-style: italic;
        &:hover{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
            background-position: bottom;
            background-repeat: repeat-x;
            background-size: 6%;
            text-decoration: none;
        }
        /*hihihihi https://css-tricks.com/having-fun-with-link-hover-effects/*/
    }
}

